/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
body{
    font-family: 'Poppins', sans-serif;
}

.maincolor{
    color: #E76F51;
}

.header{
    background-color:#264653;
    color: white;
}
.custombtn{
    background-color: #E76F51;
    border-radius: 5px;
    color: white;
    border: solid 2px #E76F51;
}

.custombtn:hover{
    background-color:white;
    color: orangered;
}

.intro-description{
    color: #E0E0E0;
}
.grayscale{
    filter: grayscale(1);
}

.headingtext{
color: #0A0826;
}
.card-title{
    color: #18191F;
}
.card-text{
    color: #6C6C6C;
}

.username{
    color: #23A6F0;
}

.designation{
    color: #252B42;
}
footer{
    background-color: #0B0D17;
}